<h2>Liste starwars</h2>
<app-loader *ngIf="loader === true"></app-loader>

<div class="list_container">
  <!--
  foreach angular dans balise
  -->
  <ul   class ="list">
    <div *ngFor = "let people of peoples ">
      <li class="list-item">
        <!--
           pour pouvoir le récupérer dans people je lui dit mets moi dans la variable people ( de people component) people
        -->

        <app-people [people]="people"></app-people>
      </li>
    </div>
  </ul>
</div>
