<div class="creatorQuestion_container">
  <h2>Créer une question</h2>
  <div>
    <div class="creatorQuestion_form">

<!--
    ng model va chercher la valeur de l'input et le met daans la variable input ngodelchange sert a quand la variable ngemodel change alors tu fais la methode
-->
<!--
    ng model va sur tout ce qui peut être changer toutes les choses avec lequel utilisateur va pouvoir interagir
-->
      <label for="createQuestion_input">Question : </label>
      <input id="createQuestion_input" type="text" [(ngModel)]="inputValue"  (ngModelChange) ="getValue(inputValue)">
      <label for="createQuestion_input--choice1">Choix de réponse 1 : </label>
      <input id="createQuestion_input--choice1" type="text" [(ngModel)]="inputValueChoice1"  (ngModelChange) ="getValueChoice1(inputValueChoice1)">
      <label for="createQuestion_input--choice2">Choix de réponse 2 : </label>
      <input id="createQuestion_input--choice2" type="text" [(ngModel)]="inputValueChoice2"  (ngModelChange) ="getValueChoice2(inputValueChoice2)">
    </div>
    <button id="createQuestion_btn"  class="main_btn"  (click)="enregistrer()"  [disabled]="disabled" >Valider </button>
  </div>
  <div>
    <p id="createQuestion_input--alert" class="alert">{{alert}}</p>
    <p id="createQuestion_input--response" class="alert">{{finalValue}}</p>
  </div>
</div>
