.creatorQuestion_container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(254, 249, 255, 0.8);



}

.creatorQuestion_container div  {
  display: flex;
  justify-content: center;
}

label , input , button {
  margin : 0 5px ;
}
#createQuestion_input--alert{
  color: red;
  font-weight: bold;
}

#createQuestion_input--response{
  color: green;
}

.creatorQuestion_form{
  display: flex;
  flex-direction: column;
}
