<div class="li_item">
  <div>
   <p class="question">{{enonce}}</p>
  </div>
  <div class="userResponse">
    <button id="btn1" class="choice"  (click)="jaiClick(reponse1)" > {{reponse1}} </button>
    <button id="btn2" class="choice"  (click)="jaiClick(reponse2)" >{{reponse2}} </button>
  </div>
  <div id="goodResponse">{{reponseUser}}</div>
</div>
