
<div>
  <a class="main_btn " routerLink="/question" routerLinkActive="active">Question</a>
  <a class="main_btn " routerLink="/people" routerLinkActive="active">People</a>
</div>

<router-outlet></router-outlet>

