<h1>questionnaire !</h1>
<!--
on écoute l'evenement qui est dans les parenthèses
-->
<app-create (questionCreated)="onQuestionCreated($event)" ></app-create>
<div class="list_container">
<!--
foreach angular dans balise
-->
  <ul  class ="list">
    <div *ngFor = "let question of questions ">
      <li *ngIf="showQuestion(question) " class="list-item">
        <!--
            grace à l'input mis dans le component je peux récup enonce
            dans enonce = question.enonce on appelle la variable question du for
        -->

        <app-question [enonce] = "question.enonce"
                      [reponse1] = "question.reponse1"
                      [reponse2] = "question.reponse2">
        </app-question>

      </li>
    </div>
    </ul>
</div>
