.li_item{
  display: flex;
  flex-direction: column;

}

.caracteristic_container{
  display: flex;


}

.caracteristic_container p{
  margin: 0 5px;
}

.people_caracteristic_container{
  border : solid 2px deeppink;
  padding: 20px;
  margin: 5px;
  width: 200px;
  height: 50px;
  background-color: #f8ecf9;
}
