<div class="people_caracteristic_container">

  <div class ="caracteristic_container">
    <p>Nom : </p>
    <p>{{people.name}}</p>
  </div>
  <div class ="caracteristic_container">
    <p>Sexe : </p>
    <p>{{people.gender}}</p>
  </div>
</div>
