/* You can add global styles to this file, and also import other style files */
h1{
  text-align: center;
  color : deeppink;
}
h2{
  text-align : center;
  color : #afff58;
}

body{
  background-image: url("assets/images/animal-1234423_1920.jpg");
  background-size: cover;

}
